#left,#right{
  width: 80px;
  height: 100px;
  background-color: #ff030f;
  position: absolute;
  left: 600px;
  top: 200px;
}
#left{
  left: 680px;
  transform-origin: left bottom;
  transform: rotate(-45deg);
  &:after{
    content: "";
    width: 80px;
    height: 80px;
    background-color: #ff030f;
    position: absolute;
    left: 0;
    top: -40px;
    border-radius: 80px;
  }
}
#right{
  transform-origin: right bottom;
  transform: rotate(45deg);
  &:after{
    content: "";
    width: 80px;
    height: 80px;
    background-color: #ff030f;
    position: absolute;
    left: 0;
    top: -40px;
    border-radius: 80px;
  }
}
